.expenses-filter {
  margin-bottom: 1rem;
  and .expenses-filter__control {
    margin: 0.5rem 0;
  }

  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    select {
      font: inherit;
      padding: 0.5rem 3rem;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
  }
}
