.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
  border-radius: 12px;
}
.expense-item__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 12px;
  background-color: #2a2a2a;
  color: white;
}
.expense-item__date h2 {
  font-size: 0.75rem;
  font-weight: normal;
}
.expense-item__date p {
  font-size: 1.25rem;
  font-weight: bold;
}
.expense-item__date p,
.expense-item__date h2 {
  margin: 0;
}
.expense-item__description h2 {
  font-size: 1.25rem;
  margin: 0;
  color: white;
}
.expense-item__description h2,
.expense-item__price {
  margin: 0;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

@media (min-width: 576px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
}

.expense-item_description h2 {
  font-size: 1.25rem;
}

.expense-item__price {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  padding: 0.5rem;
}
